<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>

    {{#block "fonts"}}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {{/block}}

    {{#block "styles"}}
        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/css/main.css">
    {{/block}}

</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <header class="main-header">
        <a href="/" class="logo">
            <span class="logo-lg">Servicii apa</span>
        </a>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                {{#each links}}
                    <li>
                        <a href="{{ this.url }}">
                            <i class="fa fa-{{ this.icon }}"></i>
                            <span>{{ this.title }}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ title }}
            </h1>
        </section>

        <section class="content">
            {{#block "body"}}

            {{/block}}
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">

        </div>
    </footer>
</div>

{{#block "scripts"}}
    <script>window.__ex__ = {{{ __exposed }}};</script>
    <script src="/js/core{{ $asset_prefix }}.js"></script>
    <script async src="/js/main{{ $asset_prefix }}.js"></script>
{{/block}}

</body>
</html>


